.btn{
    text-decoration: none;
    color: #ff8484;
    border: 3px #C78CA0 solid;
    border-radius: 10px;
    padding: 5px;


}
.btn:hover{
    background-color: #C78CA0;
    color: #ff8484;
    padding: 10px;
}

@font-face {
    font-family: Matemasie;
    src: url('Matemasie-Regular.ttf');
}

body{
    font-family: Matemasie;
}