body {
    font-family: Arial, sans-serif;
    background-color: #FFD8EE;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 200px;
}

.playlist {
    width: 80%;
    background-color: #000000; 
    padding: 50px;
    border-radius: 25px; 
    border: 3px solid pink;
    margin: auto;
    box-shadow: 0 0 15px black;
}

.add-song {
    width: 60%; 
    background-color: #000000; 
    padding: 50px;
    border-radius: 25px; 
    border: 3px solid pink; 
    box-shadow: 0 0 20px black;
}

h2 {
    text-align: center;
}

.search-bar,
#song-title,
#artist-name {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.song-title {
    font-weight: bold;
    margin: 0; 
}

.artist-name {
    display: block; 
    font-size: 0.9em; 
    color: #666; 
    margin: 0; 
}

button {
    background-color: #F0A8D0; 
    color: white; 
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer; 
}

button:hover {
    background-color: #d08cb6; 
}

.btn-danger {
    background-color: #F0A8D0; 
    color: white; 
}

.btn-danger:hover {
    background-color: #d08cb6; 
}

#add-button {
    background-color: #F0A8D0; 
}

#add-button:hover {
    background-color: #d08cb6; 
}

.add-song {
    display: flex;
    flex-direction: column; 
}

#add-button {
    align-self: center; 
    margin-top: 15px; 
}
